
#imagen {
  
   
    background-image:url(http://acidcow.com/pics/20120409/kittens_98.jpg);
    background-position:center;
    background-size:auto;
    background-repeat:no-repeat;
    background-attachment: scroll;
    background-origin:content-box; /*depende de un borde*/
    background-clip: padding-box;  
    background-color: transparent; 
    color:red;
    
  
}







